button {
    width: 200px;
    font-size: 22px;
    background: #501;
    color: white;
    border-radius: 10px;
    border: none;
    height: 40px;
}

#legend {
    padding: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.col {
    width: 100px; display: inline-block;
}

.onyx {
    background-color: black;
}
.diamond {
    background-color: pink;
}
.sapphire {
    background-color: blue;
}
.ruby {
    background-color: red;
}
.opal {
    background-color: green;
}
.amethyst {
    background-color: purple;
}
.topaz {
    background-color: orange;
}